.all-features-heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 180%;
    letter-spacing: 0.02em;
}

.more-features-container{
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 30px auto;
}

.more-features-card{
    background-color: white;
    padding: 15px;
    box-shadow: 1px 1px 4px 1px gray;
    border-radius: 10px;
}
.more-features-card img{
    background-color: white;
    height: 350px;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .more-features-container{
        width: 90%;
        grid-template-columns: repeat(1, 1fr)
    }
    
    
}