.login-link{
    display: inline-block;
    color: #252641;
    padding: 0px 8px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
    border-radius: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
}

.signup-link{
    display: inline-block;
    background: #F48C06;
    padding: 0px 8px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border-radius: 80px;
}

.menu-link{
    color: #252641;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    }


    .menu-icon{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #113C49;
    background-image: url(../../img/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left;
    }