
.cloud-software-top{
    width: 40%;
    margin: 0 auto;
}
.blue-all-in-one{
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #2F327D;
    margin: 165px 0 20px;
}
.orange-cloud-software{
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #F8B053;
}
.cloud-software-top p{
    margin-bottom: 100px;
}
.cloud-software-facilities{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    width: 80%;
    margin: 0 auto;
}
.cloud-software-facility-card{
    position: relative;
    background-color: white;
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
    border-radius: 20px;
    text-align: center;
    padding: 120px 40px 50px;
}
.cloud-software-facility-card img{
    width: 80px;
    position: absolute;
    top: -30px;
    left: 38%;
}