/* common css */
body{
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}
a{
  text-decoration: none;
}
a:hover{
  color: white;
}
.orange-text{
  color: #F48C06;
}
.blue-text{
  color: #2F327D;
}