.assessment-form{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.808);
}
.assessment-form input{
    display: block;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
}