/* banner section */

.banner-section{
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    background-image: url(../../img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-section p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #464646;
}
.banner-heading-start{
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;
    color: #F48C06;
}
.banner-heading-finish{
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;
    color: #2F327D;
}
.banner-join-link{
    background: #F48C06;
    border-radius: 80px;
    color: white;
    padding: 5px 8px;
    font-size: 24px;
    margin-right: 5px;
}
.banner-watch-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
    border-radius: 50%;
    margin-right: 5px;
}
.banner-watch-icon:hover{
    cursor: pointer;
}
.banner-watch-link{
    font-size: 24px;
    line-height: 36px;
    color: #252641;
}
.banner-watch-link:hover{
    color: #252641;
}
.banner-right{
    grid-template-columns: repeat(2, 1fr);
}

.banner-right-calender{
    width: 30px;
}
.banner-right-img{
    width: 100%;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .banner-section{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

}
