
/* trusted companies section */

.trusted-companies-section{
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-gap: 10px;
}
.trusted-companies-section img{
    width: 80%;
}
.trusted-companies-heading{
    text-align: center;
    margin: 100px 0 54px;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #696984;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .trusted-companies-section{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .trusted-companies-section img{
        width: 95%;
    }
}
